@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="login">
                    <div class="form-horizontal">
                        <h4 style="text-align: center">Login in page</h4>
                        <hr />
                        <div class="form-group">                     
                            <div class="col-md-12">
                                @Html.ActionLink("SupAdmin", "SubAdmin", "Login")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                              @Html.ActionLink("Admin", "Admin", "Login")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                              @Html.ActionLink("User", "User", "Login")
                            </div>
                        </div>
                    </div>                
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>